<!DOCTYPE html>
<html>
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="content container-fluid">
    <% include ./menu.ejs %>
    <div class="dolphin-row main page-content">
        <div class="page-header">
            <div class="pull-left">
                <h1>Wizard</h1>
                <ul class="fl">
                    <li>
                        <button class="btn"><i class="anchnet_icon icon_page icon_new"></i><span>新建</span></button>
                    </li>
                    <li>
                        <button class="btn" disabled="disabled"><i
                                    class="anchnet_icon icon_page icon_new"></i><span>加入</span></button>
                    </li>
                    <li>
                        <button class="btn" disabled="disabled"><i
                                    class="anchnet_icon icon_page icon_cirreduce"></i><span>离开</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dolphin-col-24 main">
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
</body>
</html>