<aside id="sidebar" class="sidebar workspaceMenuPanel">
    <h1 class="menu-title"><i class="fui-photo icon-menu"></i>商品管理</h1>
    <ul>
        <li class="menu-item undo">
            <a data-menuid="undo" href="javascript:void(0);"><i class="fa fa-certificate fa-lg icon-menu"></i>可售商品</a>
        </li>
        <li class="menu-item finished">
            <a data-menuid="finished" href="javascript:void(0);"><i class="fa fa-cloud fa-lg icon-menu"></i>开放清单</a>
        </li>
        <li class="menu-item toRead">
            <a data-menuid="toRead" href="javascript:void(0);"><i class="fa fa-briefcase fa-lg icon-menu"></i>商品库存</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item toRead">
            <a data-menuid="toRead" href="javascript:void(0);"><i class="fa fa-fire fa-lg icon-menu"></i>属性维护</a>
        </li>
        <li class="menu-item toRead">
            <a data-menuid="toRead" href="javascript:void(0);"><i class="fa fa-flag fa-lg icon-menu"></i>品类维护</a>
        </li>
        <li class="menu-item toRead">
            <a data-menuid="toRead" href="javascript:void(0);"><i class="fa fa-leaf fa-lg icon-menu"></i>产品管理</a>
        </li>
    </ul>
</aside>
