<!DOCTYPE html>
<html>
<head>
    <% include common/public.ejs %>
</head>
<body>
<% include common/header.ejs %>
<div class="container page-content">
</div>
<% include common/footer.ejs %>
</body>
</html>