<!DOCTYPE html>
<html>
<head>
    <% include common/public.ejs %>
    <style>
        body {
            padding-top: 5%;
            padding-bottom: 40px;
            background-color: #eee;
        }

        @media (min-width: 1200px) {
            .container-custom {
                width: 960px;
            }
        }

        .main {
            background: url("/page/images/login-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
            border-top: 1px solid #e9e9e9;
            font-size: 12px;
            padding: 60px 0 66px;
        }

        .main .user-info {
            padding: 0 30px;
        }

        .main .login-part {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: none repeat scroll 0 0 #fefefe;
            border-color: #eaeaea #eaeaea #cbcbcb;
            border-image: none;
            border-style: solid;
            border-width: 1px;
        }

        .main .login-part h3 {
            color: #747474;
            font-size: 1.25em;
            margin: 0 0 23px;
            padding: 32px 30px 0;
        }

        .main .line {
            background: none repeat scroll 0 0 #eee;
            height: 1px;
            margin-top: 20%;
        }

        .extends-input, .user-name, .pass-word {
            background: none repeat scroll 0 0 #fff;
            border: 2px solid #e1e1e1;
            display: block;
            font-size: 1.25em;
            font-weight: normal;
            margin-bottom: 20px;
            outline: 0 none;
            padding: 8px 0;
            text-indent: 43px;
            width: 100%;
        }

        .extends-input, .validate-code {
            background: none repeat scroll 0 0 #fff;
            border: 2px solid #e1e1e1;
            font-size: 1.25em;
            font-weight: normal;
            margin-bottom: 20px;
            margin-top: 20px;
            outline: 0 none;
            padding: 8px 0;
            text-indent: 20px;
            width: 40%;
        }

        .code-img {
            height: 32px;
            margin-left: 10px;
            width: 90px;
        }

        .change-code {
            color: #999;
            font-size: 1.1em;
        }

        .extends-input:focus, .user-name:focus, .pass-word:focus, .validate-code:focus {
            border: 2px solid #d6f1ff;
        }

        .error {
            border: 2px solid #fedddc;
        }

        .user-pass form {
            margin: 0;
            padding: 0 8px 0 0;
        }

        .user-name {
            background: url("/page/images/login-locked-icon.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
        }

        .pass-word {
            background: url("/page/images/login-key-icon.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
            margin-bottom: 0;
        }

        .error-mess {
            background: none repeat scroll 0 0 #fff0f0;
            border: 1px solid #ffd2d2;
            color: #b74d46;
            height: 26px;
            line-height: 26px;
            margin-top: 10px;
            width: 100%;
        }

        .error-mess .error-icon {
            background: url("<%= global.config.contextPath=='/'?'/..':global.config.contextPath %>/custom/images/login-logic-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            display: inline-block;
            height: 16px;
            margin: -4px 5px 0;
            vertical-align: middle;
            width: 16px;
        }

        .logging {
            background: none repeat scroll 0 0 #dc3c00;
            border: medium none;
            clear: both;
            color: #fff;
            display: block;
            font-size: 1.5em;
            height: 44px;
            line-height: 44px;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

        .logging:hover {
            background: none repeat scroll 0 0 #b43200;
            color: #fff;
            text-decoration: none;
        }

        .wrap-login {
            /*display: table;*/
            margin: 0 auto;
        }

        .wrap-login .login-banner {
            display: table-cell;
            padding-right: 20px;
            vertical-align: middle;
        }

        .wrap-login .login-user {
            float: left;
            height: 400px;
        }

        .pub_fo {
            margin-top: 0 !important;
        }

    </style>
</head>
<body>

<div class="header"></div>
<div class="main">
    <div class="container container-custom">
        <div class="row wrap-login">
            <div class="login-banner col-lg-5">
                <img src="/page/images/logo.png" class="img-responsive">
            </div>
            <div class="login-user col-lg-5">
                <div class="login-part">
                    <h3>帐号登录</h3>
                    <div class="user-info">
                        <div class="user-pass">
                            <form method="post" action="/login" id="fm1">
                                <input type="text" value="" class="user-name" placeholder="输入用户名" tabindex="1"
                                       name="code" id="username">
                                <input type="password" autocomplete="off" value="" class="pass-word" placeholder="输入密码"
                                       tabindex="2" name="password" id="password">

                                <div style="display:none;" class="error-mess">
                                    <span class="error-icon"></span><span id="error-message"></span>
                                </div>

                                <div class="row forget-password">

                                </div>
                                <input type="button" id="submit"
                                       data-redirect="<%= data.redirect %>" tabindex="6" value="登 录" accesskey="l"
                                       class="logging">
                            </form>

                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>
</body>
</html>
