<aside id="sidebar" class="sidebar workspaceMenuPanel">
    <h1 class="menu-title"><i class="fui-document icon-menu"></i>业务管理</h1>
    <ul>
        <li class="menu-item undo">
            <a data-menuid="undo" href="javascript:void(0);"><i class="fa fa-coffee fa-lg icon-menu"></i>待办事项</a>
        </li>
        <li class="menu-item finished">
            <a data-menuid="finished" href="javascript:void(0);"><i class="fa fa-hdd-o fa-lg icon-menu"></i>已办事项</a>
        </li>
        <li class="menu-item toRead">
            <a data-menuid="toRead" href="javascript:void(0);"><i class="fa fa-comments-o fa-lg icon-menu"></i>提醒事项</a>
        </li>
        <li class="menu-item delegate">
            <a data-menuid="delegate" href="javascript:void(0);"><i class="fa fa-key fa-lg icon-menu"></i>代理设置</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item planCreate">
            <a data-menuid="planCreate" href="javascript:void(0);"><i class="fa fa-shopping-cart fa-lg icon-menu"></i>新建计划</a>
        </li>
        <li class="menu-item orderCreate">
            <a data-menuid="orderCreate" href="javascript:void(0);"><i class="fa fa-money fa-lg icon-menu"></i>新建订单</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item planList">
            <a data-menuid="planList" href="javascript:void(0);"><i class="fa fa-envelope fa-lg icon-menu"></i>计划查询</a>
        </li>
        <li class="menu-item orderList">
            <a data-menuid="orderList" href="javascript:void(0);"><i class="fa fa-inbox fa-lg icon-menu"></i>订单查询</a>
        </li>
        <li class="menu-item channelLimit">
            <a data-menuid="channelLimit" href="javascript:void(0);"><i
                        class="fa fa-unlock fa-lg icon-menu"></i>渠道限售</a>
        </li>
    </ul>
</aside>
