<div class="page-header">
    <div class="pull-left">
        <h1 class="content-title">业务日志</h1>
    </div>
</div>
<div class="dolphin-col-24 main" id="myContent">
</div>
<script src="<%= global.config.publicPath %>/page/scripts/<%= path; %>.js"></script>