<aside id="sidebar" class="sidebar workspaceMenuPanel">
    <h1 class="menu-title"><i class="fui-gear icon-menu"></i>系统管理</h1>
    <ul>
        <li class="menu-item userManager">
            <a data-menuid="userManager" href="javascript:void(0);"><i
                        class="fa fa-user-md fa-lg icon-menu"></i>用户管理</a>
        </li>
        <li class="menu-item roleManager">
            <a data-menuid="roleManager" href="javascript:void(0);"><i class="fa fa-magnet fa-lg icon-menu"></i>角色管理</a>
        </li>
        <li class="menu-item orgManager">
            <a data-menuid="orgManager" href="javascript:void(0);"><i class="fa fa-sitemap fa-lg icon-menu"></i>组织结构</a>
        </li>

        <li role="separator" class="divider"></li>
        <li class="menu-item enumManager">
            <a data-menuid="enumManager" href="javascript:void(0);"><i class="fa fa-cogs fa-lg icon-menu"></i>数据字典</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item loginLog">
            <a data-menuid="loginLog" href="javascript:void(0);"><i class="fa fa-legal fa-lg icon-menu"></i>登录日志</a>
        </li>
        <li class="menu-item bizLog">
            <a data-menuid="bizLog" href="javascript:void(0);"><i class="fa fa-share fa-lg icon-menu"></i>业务日志</a>
        </li>
        <li class="menu-item interfaceLog">
            <a data-menuid="interfaceLog" href="javascript:void(0);"><i class="fa fa-exchange fa-lg icon-menu"></i>接口日志</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="menu-item setting">
            <a data-menuid="setting" href="javascript:void(0);"><i class="fa fa-wrench fa-lg icon-menu"></i>系统设置</a>
        </li>
    </ul>
</aside>
