<!DOCTYPE html>
<html>
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="content container-fluid">
    <% include ./menu.ejs %>
    <div class="dolphin-row page-content">
        <div class="dolphin-col-24 main">
            公告管理
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
</body>
</html>